@import "variables";

.toast {
	@extend .shadow;
	border: 0;
	position: fixed;
	text-align: center;
	z-index: 1051;
	background-color: white;
	border-radius: ($border-radius * 1);
	bottom: 50px;
	color: rgba($primary, .8);
	font-size: 14px;
	font-weight: 400;
	left: 50px;
	margin: 0;
	min-height: ($baseline * 5);
	padding: 0 20px;
}

.toast--danger {
	background-color: $white;
}

.toast--success {
	background-color: $white;
}

.toast__body {
	display: inline-block;
	line-height: ($baseline * 5);
	min-height: ($baseline * 5);
	margin: 0 0 0 ($unit * 5);
}

.toast__undo-link {
	color: $accent;
	font-size: 14px;
	font-weight: 700;
	margin: 0 0 0 ($unit * 5);
	text-transform: uppercase;

	position: relative;
	top: 1px;

	-webkit-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

.toast__undo-link:hover {
	color: rgba($accent, .8);
}

@keyframes full-rotation {
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes full-rotation {
	to {
		-webkit-transform: rotate(360deg);
	}
}

.toast__spinner {
	margin: 0;
	top: 7px;
	color: white;
	display: inline-block;
	font-family: "icon-12";
	font-size: 14px;
	font-weight: 900;
	line-height: 17px;
	min-height: ($baseline * 2);
	min-width: ($unit * 6);
	position: relative;
	text-align: center;
}

.toast__spinner:before {
	height: 24px;
	position: absolute;
	width: 24px;
	margin-left: -12px;
}

.toast__spinner:not(:required):before {
	content: "";
	border-radius: 50%;
	border: 3px solid white;
	border-bottom-color: $brand-success;
	border-left-color: $brand-success;
	border-top-color: $brand-success;
	animation: full-rotation .6s linear infinite;
	-webkit-animation: full-rotation .6s linear infinite;
}

.toast__spinner--done:not(:required):before {
	content: "\E01B";
	background: $brand-success;
	border-color: $brand-success;
	animation: none;
	-webkit-animation: none;
}

.toast--danger .toast__spinner:not(:required):before {
	border-bottom-color: $brand-danger;
	border-left-color: $brand-danger;
	border-top-color: $brand-danger;
}

.toast--danger .toast__spinner--done:not(:required):before {
	background: $brand-danger;
	border-color: $brand-danger;
}

.toast .close {
	padding: 0;
	margin: 0 0 0 20px;
}

.toast .close .close__icon {
	position: relative;
	top: 2px;
}

@-webkit-keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes slideOutLeft {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes slideOutLeft {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
}

.slideOutLeft {
	-webkit-animation-name: slideOutLeft;
	animation-name: slideOutLeft;
}

.animated {
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
